# Copia este archivo a .env (SOLO para probar en local / serve).
# En producción, Supabase ya inyecta SUPABASE_URL y
# SUPABASE_SERVICE_ROLE_KEY automáticamente al deploy.
# OX1_LICENSE_SECRET SÍ hay que setearlo con:
#   supabase secrets set OX1_LICENSE_SECRET=<secreto>

OX1_LICENSE_SECRET=pon-aqui-tu-secreto-largo-aleatorio

SUPABASE_URL=https://wufzqynbhvfbzlmqnvgw.supabase.co
SUPABASE_SERVICE_ROLE_KEY=service_role_aqui
SUPABASE_ANON_KEY=sb_publishable_MLdr8wFcc2vG9npNtUg38g_Dg_uxodE
